body {
  margin: 0;
  background: rgb(19, 22, 19);
  color: #00ff00;
  font-family: monospace;
  overflow-x: hidden;
}

/* grid background*/
.grid-layer {
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(0, 255, 0, 0.12) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 0, 0.12) 1px, transparent 1px);
  background-size: 100px 100px;
  mix-blend-mode: screen;
  z-index: -2;
}


/* gradient background */
.halo-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(circle at 50% 50%, rgba(0, 255, 100, 0.15), transparent 70%);
  mix-blend-mode: color-dodge;
  animation: shimmer 8s ease-in-out infinite alternate;
  z-index: -1;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
    opacity: 0.2;
  }

  50% {
    background-position: 100% 50%;
    opacity: 0.35;
  }

  100% {
    background-position: 0% 50%;
    opacity: 0.25;
  }
}

.contenu-text {
  background-color: black;
  color: #00ff00;
  border: solid 2px #00ff00;
  height: 1000px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.contenu-text h1 {
  font-family: "Russo one", sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.contenu-text h2 {
    margin-left: 100px;
}

.contenu-text p {
    margin-left: 100px;
}